/* This plugin uses 'dataset' as the class for everything
so these variables help show which class is what thing */

$products: '.aa-dropdown-menu-inner > [class^="aa-dataset"]';
$posts: '.aa-dropdown-menu-inner > .r-wrapper > [class^="aa-dataset"]:first-of-type';
$tags: '.aa-dropdown-menu-inner > .r-wrapper > [class^="aa-dataset"] ~ [class^="aa-dataset"]';

// table radius for the tables listing products and posts
$table-radius: 0.25rem;
$border-color: #eaeaea;

// clearfix the datasets and set the font size for all search results
#{$products}, #{$posts}, #{$tags} {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
  *zoom: 1;
  p, h2, em {
    font-size: 0.875rem;
    line-height: 140%;
  }
}


//styles for toggle view button
.wrapper-toggle-view-buttons {
  display: block;
  float: right;
  margin-top: -9px;
  @media(min-width: 1030px) {
    max-width: 80px;
  }
  @media(max-width: 1029px) {
    margin-right: 1rem;
  }
}

//styles for toggle view button
.button-list-view,
.button-grid-view {
  background-color: #fff;
  width: 50%;
  float: left;
  padding: 6px;
  border: 1px solid $border-color;
  img.active {
    display: none;
  }
  img {
    float: left;
  }
  &.active {
    background-color: #494949;
    border-color: transparent;
    img.not-active {
      display: none;
    }
    img.active {
      display: block;
    }
  }
}

//styles for toggle view button
.button-list-view {
  border-top-left-radius: $table-radius;
  border-bottom-left-radius: $table-radius;
}

//styles for toggle view button
.button-grid-view {
  border-top-right-radius: $table-radius;
  border-bottom-right-radius: $table-radius;
}

// Se flere produkter-knapp on products
.button-more-products {
  background-color: #494949;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  color: #fff !important;
  font-weight: bold !important;
  margin: 1rem 1rem 1rem 0;
  display: inline-block;
}

#{$products} {
  width: 100%;
  .aa-suggestion:first-of-type {
    border-top:1px solid $border-color;
  }
  .aa-suggestions .aa-suggestion {
    padding-bottom: 0.5rem;
  }
  .suggestion-link {
    display: block;
    padding: 0 14px 0 0;
  }
  .suggestion-post-price {
    margin-top: 0.5rem;
  }
  .amount {
    font-size: 1.0625rem;
  }

  .button-more-products {
    text-align: center !important;
  }

    // Media query for desktop
    @media only screen and (min-width: 1030px) {
      width: 50%;
      float: left;
      padding: 0.5rem;
      .aa-suggestions {
        border: 1px $border-color solid;
        border-radius: $table-radius;
      }
      .aa-suggestion:hover {
        background-color: #f8f8f8;
      }
      .aa-suggestion:first-of-type {
        border-top-left-radius: $table-radius;
        border-top-right-radius: $table-radius;
        border-top: none;
      }
      .aa-suggestion:last-of-type {
        border-bottom: none;
        border-bottom-left-radius: $table-radius;
        border-bottom-right-radius: $table-radius;
      }
      .autocomplete-header {
        margin-left: 0;
      }
    }
  }

  // Mixin to count how many elements there are, then do css
  // when these requirements are met.
  @mixin element-count( $number, $comparison: 'equal' ) { $nth: '';
    @if index( ('greater' 'more' '>'), $comparison ) { $nth: 'n + #{$number}'; }
    @else if index( ('less' 'fewer' '<'), $comparison ) { $nth: '-n + #{$number}'; }
    @else if index( ('equal' 'same' '='), $comparison ) { $nth: $number; }
    @else { @warn "Sorry, that's an invalid $comparison value." }
    &:nth-last-child(#{$nth}):first-child { &, & ~ * { @content; } }
  }


// Grid view
.algoliasearch-grid #{$products} {
  .aa-suggestions {
    &:before, &:after { content: " "; display: table; }
    &:after { clear: both; }
    *zoom: 1;
    border: 1px solid $border-color;
    border-radius: $table-radius;
    width: 91%;
    margin: 0 auto;
    @media (min-width: 1030px) {
      width: 100%;
    }

   .aa-suggestion {
      width: 50%;
      float: left;
      display: block;
      text-align: center;
      border-radius: 0;
      border-bottom: 1px solid $border-color;
      border-right: 1px solid $border-color;

      .suggestion-link{
        padding: 0;
        width: 100%;
        display: block;
      }

      .suggestion-post-thumbnail,
      .suggestion-post-attributes{
        border: 0;
        padding: 0;
        margin: 0;
        display: block;
        height: auto;
        width: 100%;
        float: none;
        text-align: center;
        object-fit: contain;
      }

      //mobile styles only
      @media (max-width: 1029px) {
        .autocomplete-header {
          margin-left: 1rem;
        }
        .suggestion-post-thumbnail{
          height: 10rem;
          object-fit: contain;
        }
        height: 17rem;
        &:only-child{
          border-bottom: 0;
          border-top: 0;
        }
        // The 4nth one never has a right border
        &:first-of-type,
        &:nth-of-type(3n+4) {
          clear: left;
        }
        // The 2nth one never has a right border
        &:nth-of-type(2n+2) {
          border-right: none;
          clear: right;
        }
        // if results = 2
        @include element-count( 2, equal ) {
          &:first-child,
          &:nth-child(2) {
            border-bottom: 0;
          }
          &:first-child {
            border-top: 0;
          }
        }
        // if results = 3
        @include element-count( 3, equal ) {
          &:first-child {
            border-top: 0;
          }
          &:nth-child(3) {
            border-bottom: 0;
          }
        }
        // if results = 4
        @include element-count( 4, equal ) {
          &:nth-child(4),
          &:nth-child(3) {
            border-bottom: 0;
          }
          &:first-of-type {
            border-top: none;
          }
        }
        // if results = 5
        @include element-count( 5, equal ) {
          &:first-child {
            border-top: 0;
          }
          &:nth-child(5) {
            border-bottom: 0;
          }
        }
      } // end of query


      // Media query for desktop
      // everything is in 1/3rds
      @media (min-width: 1030px) {
        width: 33%;
        min-height: 17rem;

        &:only-child {
          border-bottom: 0;
        }

        // The 4nth one never has a right border
        &:first-of-type,
        &:nth-of-type(3n+4) {
          clear: left;
        }

        // The 3nth one never has a right border
        &:nth-of-type(3n+3) {
          border-right: none;
          clear: right;
        }

        /* ELEMENT COUNTING FOR SORTING OUT BORDERS */
        // if results = 2
        @include element-count( 2, equal ) {
          &:first-child,
          &:nth-child(2) {
            border-bottom: 0;
          }
        }
        // if results = 3
        @include element-count( 3, equal ) {
          &:first-child,
          &:nth-child(2),
          &:nth-child(3) {
            border-bottom: 0;
          }
        }
        // if results = 4
        @include element-count( 4, equal ) {
          &:nth-child(4) {
            border-bottom: 0;
          }
        }
        // if results = 5
        @include element-count( 5, equal ) {
          &:last-of-type,
          &:nth-last-child(2){
            border-bottom: 0;
          }
        }
        // if results = 6
        @include element-count( 6, equal ) {
          &:last-of-type,
          &:nth-last-child(2),
          &:nth-last-child(3) {
            border-bottom: 0;
          }
        }

      }
    }
  }
}


#{$posts} {
  width: 100%;
  .button-more-products {
    display: none !important;
  }
  .aa-suggestions {
    background-color: #f8f8f8;
    border: 1px $border-color solid;
    border-radius: $table-radius;
    .aa-suggestion:hover {
      background-color: darken($border-color, 3%);
    }
  }
  .aa-suggestion:first-of-type {
    border-top-left-radius: $table-radius;
    border-top-right-radius: $table-radius;
  }
  .aa-suggestion:last-of-type {
    border-bottom: none;
    border-bottom-left-radius: $table-radius;
    border-bottom-right-radius: $table-radius;
  }
  .autocomplete-header {
    margin-left: 0;
  }
  .suggestion-link {
    display: block;
    padding: 0 0.15rem 0 0;
  }
  .suggestion-post-thumbnail {
    display: none;
  }
  .aa-suggestion p.suggestion-post-content {
    //display: none;
  }
  .aa-suggestions h2 {
    font-weight: normal;
  }
  .aa-suggestions .aa-suggestion {
    padding: 1.5rem 1.25rem 1.5rem 1.25rem;
  }
  // Media query for desktop
  @media only screen and (min-width: 1030px) {
    width: 100%;
    float: left;
    padding: 0.5rem;
  }
}

  #{$tags} {
    width: 100%;
    .aa-suggestion:first-of-type,
    .aa-suggestion {
      border: 0px;
    }
    //hover state
    .aa-suggestion.aa-cursor {
      background-color: transparent;
    }
    .aa-suggestions .aa-suggestion {
      display: inline-block;
      border: none;
      padding: 0;
      float: left;
    }
    // Se flere produkter-knapp on tags
    .button-more-products {
      float: left;
      padding: 0.45rem 0.75rem;
      font-size: 0.875rem;
      line-height: 140%;
      margin-top: 0;
    }
    // Media query for desktop
    @media only screen and (min-width: 1030px) {
      width: 100%;
      float: left;
      padding: 0.5rem;
    }
    .autocomplete-header {
      margin-left: 0;
    }
    .wrapper-suggestion-link .suggestion-link {
      padding: 0.25rem 0.5rem;
      display: block;
    }
    .wrapper-suggestion-link {
      padding: 0.15rem 0.5rem 0.25rem 0.5rem;
      margin-bottom: 0.75rem;
    }
  }

  .title-element {
    text-transform: lowercase;
  }

  .aa-dropdown-menu {
    /* we set the width in JS */
    font-family: sans-serif;
    z-index: 999999;
    background-color: #fff;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.35);
    .test {
      color: black;
    }
  }

  .aa-dropdown-menu {
    /*
    color: #1a1a1a;
    font-size: 12px;
    position: fixed !important;
    top: 0 !important;
    left:0 !important;
    bottom:0 !important;
    right: 0 !important;
    background-color: #000;
    width:100%  !important;
    */
    height: 100% !important;
    width: 100% !important;
    position: absolute !important; /* Stay in place */
    left: 0 !important;
    background-color: #fff;
    overflow-x: hidden; /* Disable horizontal scroll */
    // transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    // transform: translateY(181px) translateX(0) !important; commenting this out for now

    transform: translateY(109px) translateX(0) !important;
    //tablet query
    @media only screen and (min-width: 768px) {
      transform: translateY(117px) translateX(0) !important;
    }
    // this query is here becouse of elements jumping up and down in the soma header,
    // it needs to be customized if it this plugin is going to be used in another theme
    @media only screen and (min-width: 1026px) {
      transform: translateY(173px) translateX(0) !important;
    }
    // this query is here becouse of elements jumping up and down in the soma header,
    // it needs to be customized if it this plugin is going to be used in another theme
    @media only screen and (min-width: 1046px) {
      transform: translateY(152px) translateX(0) !important;
    }
  }

  .aa-dropdown-menu-inner{
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    border:0px !important;
    position: relative !important;
    background-color: #fff;
  }

  .aa-dropdown-menu .aa-input, .aa-dropdown-menu .aa-hint {
    width: 100%;
  }
  .aa-dropdown-menu .aa-hint {
    color: #999;
  }


/* Font */

.aa-dropdown-menu a {
    //font-size: 12px;
    color: #1a1a1a;
    font-weight: normal;
    text-decoration: none;
  }
  .aa-dropdown-menu a:hover {
    text-decoration: none;
  }

/* Header */
.autocomplete-header {
  margin: 1.5rem 0 0.75rem 0.75rem;
}

.aa-dropdown-menu .autocomplete-header-title,
.aa-dropdown-menu .autocomplete-header-more {
  letter-spacing: 1px;
  font-weight: bold;
}

.aa-dropdown-menu .autocomplete-header-title {
  float: left;
  clear: left;
}

.aa-dropdown-menu .autocomplete-header-more {
  float: right;
}

.aa-dropdown-menu .autocomplete-header-more a {
  color: rgba(0,0,0,.3);
  font-weight: bold;
}

.aa-dropdown-menu .autocomplete-header-more a:hover {
  color:  rgba(0,0,0,.4);
}

/* Suggestion */

.aa-dropdown-menu .aa-suggestion {
  padding: 1rem;
  border-bottom:1px solid #eaeaea;
}

.aa-dropdown-menu .aa-suggestion:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.aa-dropdown-menu .aa-suggestion em {
  font-style: normal;
  background-color: #fee2b6;
}

.aa-dropdown-menu .aa-suggestion .suggestion-post-title {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0rem;
}

.aa-dropdown-menu .aa-suggestion .suggestion-post-content {
  color: #63676d;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.aa-dropdown-menu .aa-suggestion .suggestion-post-content em {
  padding: 0 0 1px;
  background: inherit;
  color: inherit;
  background-color: #fee2b6;
}

//hover state
.aa-suggestion.aa-cursor {
  background-color: #f9f9f9;
}

.aa-dropdown-menu a.suggestion-link svg {
  vertical-align: middle;
  fill: rgba(0,0,0,.3);
  float: left;
}

//this applies only to the products at the moment
.aa-dropdown-menu .suggestion-post-thumbnail {
  float: left;
  margin-right: 1rem;
  margin-bottom: 4px;
  border-radius: 3px;
  width: 70px;
  height: 70px;
  border:1px solid gainsboro;
  @media only screen and (min-width: 1030px) {
    width: 100px;
    height: 100px;
  }
}

.aa-dropdown-menu .suggestion-user-thumbnail {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 16px;
  width: 32px;
  height: 32px;
}

/* Footer */
.aa-dropdown-menu .autocomplete-footer-branding {
  padding: 15px 14px 0px;
  float: right;
  color: rgba(0,0,0,.3);
  margin-bottom: 7px;
}

.aa-dropdown-menu .autocomplete-footer-branding .algolia-logo {
  width: 55px;
  vertical-align: top;
}

/* Clearfix */
.aa-dropdown-menu .clear {
  clear: both;
}

/* Empty */
.autocomplete-empty {
  clear: both;
  padding: 15px;
}

.autocomplete-empty .empty-query {
  font-weight: bold;
}

body .thinner {
  font-weight: lighter;
}

.suggestion-product-title,
.autocomplete-header-title {
  color: #333333;
}

.suggestion-post-price {
  font-weight: bold;
  color: #333333;
}

// wraps each tag
.wrapper-suggestion-link {
  background-color: #eaeaea;
  padding: 0.5rem;
  border-radius: 1.25rem;
  margin: 0 0.5rem 0 0;
  display: inline-block;
  &:hover {
    background-color: darken(#eaeaea, 3%);
  }
}

.suggestion-post-content {
  margin-bottom: 0;
}

// Tag suggestions, title
.aa-suggestion .suggestion-tag-title {
  margin-bottom: 0;
  text-transform: capitalize;
  em {
    font-weight: lighter;
    background-color: transparent;
    color: #333333;
  }
}

.wrapper-autocomplete-post-suggestion {
  background-color: #eaeaea;
}

/* For mobile phones and tablets only */
@media only screen and (max-width: 1029px) {
  .aa-dropdown-menu {
    min-width: inherit;
    max-width: inherit;
    width: 70%;
  }
  .r-wrapper {
    float:none;
    margin: 0 1rem 1rem 1rem;
  }
}

/* Media query for desktop */
@media only screen and (min-width: 1030px) {
  #{$products} .aa-suggestions {
    width: 100%;
  }
    // this wrapper contains posts and tags
    .r-wrapper {
      float:left;
      width: 50%;
    }
    .aa-dropdown-menu .autocomplete-header {
      margin-left: 0;
    }
  }


.searchsubmit.closeable {
    background-image: url('../img/search-close.png');
    background-image: url('../img/search-close.svg');
}

.panel {
    &.borders {
        border-top: 2px solid #ddd;
        border-bottom: 2px solid #ddd;
        padding: 120px 0;
    }
    &.search {
        text-align: center;
        background: url('../img/glyph-search-header.png') no-repeat center center;
        background: url('../img/glyph-search-header.svg') no-repeat center center;
    }
    h2, p {
        font-size: 15px;
        line-height: 21px;
        font-weight: 300;
        color: #494949;
    }
}

.aa-dropdown-menu-inner div {
    position: relative;
}
.fadedBottom {
    &:after {
        position: absolute;
        z-index: 5;
        bottom: 0em;
        width:100%;
        height: 8em;
        background: -webkit-linear-gradient(
            rgba(255, 255, 255, .25) 25%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: -moz-linear-gradient(
            rgba(255, 255, 255, .25) 25%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: -o-linear-gradient(
            rgba(255, 255, 255, .25) 25%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: linear-gradient(
            rgba(255, 255, 255, .25) 25%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: -ms-linear-gradient(
            rgba(255, 255, 255, .25) 25%,
            rgba(255, 255, 255, 1) 100%
        );
    }
    .button-more-products {
        position: absolute;
        z-index: 10;
        bottom: 1.5em;
        left: 25%;
        width: 50%
    }
}

@media only screen and (max-width: 1029px) {
  .fadedBottom .button-more-products {
      position: absolute;
      z-index: 10;
      bottom: 1.5em;
      left: 10%;
      width: 80%;
  }
}