/* This plugin uses 'dataset' as the class for everything
so these variables help show which class is what thing */
.aa-dataset-3, .aa-dataset-0, .aa-dataset-4, .aa-dataset-1, .aa-dataset-5, .aa-dataset-2 {
  *zoom: 1; }
  .aa-dataset-3:before, .aa-dataset-3:after, .aa-dataset-0:before, .aa-dataset-0:after, .aa-dataset-4:before, .aa-dataset-4:after, .aa-dataset-1:before, .aa-dataset-1:after, .aa-dataset-5:before, .aa-dataset-5:after, .aa-dataset-2:before, .aa-dataset-2:after {
    content: " ";
    display: table; }
  .aa-dataset-3:after, .aa-dataset-0:after, .aa-dataset-4:after, .aa-dataset-1:after, .aa-dataset-5:after, .aa-dataset-2:after {
    clear: both; }
  .aa-dataset-3 p, .aa-dataset-3 h2, .aa-dataset-3 em, .aa-dataset-0 p, .aa-dataset-0 h2, .aa-dataset-0 em, .aa-dataset-4 p, .aa-dataset-4 h2, .aa-dataset-4 em, .aa-dataset-1 p, .aa-dataset-1 h2, .aa-dataset-1 em, .aa-dataset-5 p, .aa-dataset-5 h2, .aa-dataset-5 em, .aa-dataset-2 p, .aa-dataset-2 h2, .aa-dataset-2 em {
    font-size: 0.875rem;
    line-height: 140%; }

.aa-dataset-3, .aa-dataset-0 {
  width: 100%; }
  .aa-dataset-3 .aa-suggestion:first-of-type, .aa-dataset-0 .aa-suggestion:first-of-type {
    border-top: 1px solid #eaeaea; }
  .aa-dataset-3 .aa-suggestions .aa-suggestion, .aa-dataset-0 .aa-suggestions .aa-suggestion {
    padding-bottom: 0.5rem; }
  .aa-dataset-3 .autocomplete-header, .aa-dataset-0 .autocomplete-header {
    margin-left: 1rem; }
  .aa-dataset-3 .suggestion-link, .aa-dataset-0 .suggestion-link {
    display: block;
    padding: 0 14px 0 0; }
  .aa-dataset-3 .suggestion-post-price, .aa-dataset-0 .suggestion-post-price {
    margin-top: 0.5rem; }
  .aa-dataset-3 .amount, .aa-dataset-0 .amount {
    font-size: 1.0625rem; }
  @media only screen and (min-width: 1030px) {
    .aa-dataset-3, .aa-dataset-0 {
      width: 50%;
      float: left;
      padding: 0.5rem; }
      .aa-dataset-3 .aa-suggestions, .aa-dataset-0 .aa-suggestions {
        border: 1px #eaeaea solid;
        border-radius: 0.25rem; }
      .aa-dataset-3 .aa-suggestion:hover, .aa-dataset-0 .aa-suggestion:hover {
        background-color: #f8f8f8; }
      .aa-dataset-3 .aa-suggestion:first-of-type, .aa-dataset-0 .aa-suggestion:first-of-type {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border-top: none; }
      .aa-dataset-3 .aa-suggestion:last-of-type, .aa-dataset-0 .aa-suggestion:last-of-type {
        border-bottom: none;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem; } }

.aa-dataset-4, .aa-dataset-1 {
  width: 100%; }
  .aa-dataset-4 .aa-suggestions, .aa-dataset-1 .aa-suggestions {
    background-color: #f8f8f8;
    border: 1px #eaeaea solid;
    border-radius: 0.25rem; }
    .aa-dataset-4 .aa-suggestions .aa-suggestion:hover, .aa-dataset-1 .aa-suggestions .aa-suggestion:hover {
      background-color: #e2e2e2; }
  .aa-dataset-4 .aa-suggestion:first-of-type, .aa-dataset-1 .aa-suggestion:first-of-type {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
  .aa-dataset-4 .aa-suggestion:last-of-type, .aa-dataset-1 .aa-suggestion:last-of-type {
    border-bottom: none;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem; }
  .aa-dataset-4 .autocomplete-header, .aa-dataset-1 .autocomplete-header {
    margin-left: 0; }
  .aa-dataset-4 .suggestion-link, .aa-dataset-1 .suggestion-link {
    display: block;
    padding: 0 0.15rem 0 0; }
  .aa-dataset-4 .suggestion-post-thumbnail, .aa-dataset-1 .suggestion-post-thumbnail {
    display: none; }
  .aa-dataset-4 h2, .aa-dataset-1 h2 {
    font-weight: normal; }
  .aa-dataset-4 .aa-suggestions .aa-suggestion, .aa-dataset-1 .aa-suggestions .aa-suggestion {
    padding: 1.5rem 1.25rem 1.5rem 1.25rem; }
  @media only screen and (min-width: 1030px) {
    .aa-dataset-4, .aa-dataset-1 {
      width: 100%;
      float: left;
      padding: 0.5rem; } }

.aa-dataset-5, .aa-dataset-2 {
  width: 100%; }
  .aa-dataset-5 .aa-suggestion:first-of-type,
  .aa-dataset-5 .aa-suggestion, .aa-dataset-2 .aa-suggestion:first-of-type,
  .aa-dataset-2 .aa-suggestion {
    border: 0px; }
  .aa-dataset-5 .aa-suggestion.aa-cursor, .aa-dataset-2 .aa-suggestion.aa-cursor {
    background-color: transparent; }
  .aa-dataset-5 .aa-suggestions .aa-suggestion, .aa-dataset-2 .aa-suggestions .aa-suggestion {
    display: inline-block;
    border: none;
    padding: 0; }
  @media only screen and (min-width: 1030px) {
    .aa-dataset-5, .aa-dataset-2 {
      width: 100%;
      float: left;
      padding: 0.5rem; } }
  .aa-dataset-5 .autocomplete-header, .aa-dataset-2 .autocomplete-header {
    margin-left: 0; }
  .aa-dataset-5 .wrapper-suggestion-link .suggestion-link, .aa-dataset-2 .wrapper-suggestion-link .suggestion-link {
    padding: 0.25rem 0.5rem;
    display: block; }
  .aa-dataset-5 .wrapper-suggestion-link, .aa-dataset-2 .wrapper-suggestion-link {
    padding: 0.15rem 0.5rem 0.25rem 0.5rem; }

.title-element {
  text-transform: lowercase; }

.aa-dropdown-menu {
  /* we set the width in JS */
  font-family: sans-serif;
  z-index: 999999;
  background-color: #fff;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35); }
  .aa-dropdown-menu .test {
    color: black; }

.aa-dropdown-menu {
  /*
  color: #1a1a1a;
  font-size: 12px;
  position: fixed !important;
  top: 0 !important;
  left:0 !important;
  bottom:0 !important;
  right: 0 !important;
  background-color: #000;
  width:100%  !important;
  */
  height: 100% !important;
  width: 100% !important;
  position: absolute !important;
  /* Stay in place */
  left: 0 !important;
  background-color: #fff;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  transform: translate(0) !important; }

.aa-dropdown-menu-inner {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  border: 0px !important;
  position: relative !important;
  background-color: #fff; }

.aa-dropdown-menu .aa-input, .aa-dropdown-menu .aa-hint {
  width: 100%; }

.aa-dropdown-menu .aa-hint {
  color: #999; }

/* Font */
.aa-dropdown-menu a {
  color: #1a1a1a;
  font-weight: normal;
  text-decoration: none; }

.aa-dropdown-menu a:hover {
  text-decoration: none; }

/* Header */
.autocomplete-header {
  margin: 1.5rem 0 0.75rem 0.75rem; }

.aa-dropdown-menu .autocomplete-header-title,
.aa-dropdown-menu .autocomplete-header-more {
  letter-spacing: 1px;
  font-weight: bold; }

.aa-dropdown-menu .autocomplete-header-title {
  float: left;
  clear: left; }

.aa-dropdown-menu .autocomplete-header-more {
  float: right; }

.aa-dropdown-menu .autocomplete-header-more a {
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold; }

.aa-dropdown-menu .autocomplete-header-more a:hover {
  color: rgba(0, 0, 0, 0.4); }

/* Suggestion */
.aa-dropdown-menu .aa-suggestion {
  padding: 1rem;
  border-bottom: 1px solid #eaeaea; }

.aa-dropdown-menu .aa-suggestion:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.aa-dropdown-menu .aa-suggestion em {
  font-style: normal;
  background-color: #fee2b6; }

.aa-dropdown-menu .aa-suggestion .suggestion-post-title {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0rem; }

.aa-dropdown-menu .aa-suggestion .suggestion-post-content {
  color: #63676d;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.aa-dropdown-menu .aa-suggestion .suggestion-post-content em {
  padding: 0 0 1px;
  background: inherit;
  color: inherit;
  background-color: #fee2b6; }

.aa-suggestion.aa-cursor {
  background-color: #f9f9f9; }

.aa-dropdown-menu a.suggestion-link svg {
  vertical-align: middle;
  fill: rgba(0, 0, 0, 0.3);
  float: left; }

.aa-dropdown-menu .suggestion-post-thumbnail {
  float: left;
  margin-right: 1rem;
  margin-bottom: 4px;
  border-radius: 3px;
  width: 70px;
  height: 70px;
  border: 1px solid gainsboro; }

.aa-dropdown-menu .suggestion-user-thumbnail {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 16px;
  width: 32px;
  height: 32px; }

/* Footer */
.aa-dropdown-menu .autocomplete-footer-branding {
  padding: 15px 14px 0px;
  float: right;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 7px; }

.aa-dropdown-menu .autocomplete-footer-branding .algolia-logo {
  width: 55px;
  vertical-align: top; }

/* Clearfix */
.aa-dropdown-menu .clear {
  clear: both; }

/* Empty */
.autocomplete-empty {
  clear: both;
  padding: 15px; }

.autocomplete-empty .empty-query {
  font-weight: bold; }

body .thinner {
  font-weight: lighter; }

.suggestion-product-title,
.autocomplete-header-title {
  color: #333333; }

.suggestion-post-price {
  font-weight: bold;
  color: #333333; }

.wrapper-suggestion-link {
  background-color: #eaeaea;
  padding: 0.5rem;
  border-radius: 1.25rem;
  margin: 0 0.5rem 0 0;
  display: inline-block; }
  .wrapper-suggestion-link:hover {
    background-color: #e2e2e2; }

.suggestion-post-content {
  margin-bottom: 0; }

.aa-suggestion .suggestion-tag-title {
  margin-bottom: 0;
  text-transform: capitalize; }
  .aa-suggestion .suggestion-tag-title em {
    font-weight: lighter;
    background-color: transparent;
    color: #333333; }

.wrapper-autocomplete-post-suggestion {
  background-color: #eaeaea; }

/* For mobile phones and tablets only */
@media only screen and (max-width: 1029px) {
  .aa-dropdown-menu {
    min-width: inherit;
    max-width: inherit;
    width: 70%; }

  .r-wrapper {
    float: none;
    margin: 0 1rem 1rem 1rem; } }
/* Media query for desktop */
@media only screen and (min-width: 1030px) {
  .aa-suggestions {
    width: 100%;
    float: left; }

  .r-wrapper {
    float: left;
    width: 50%; }

  .aa-dropdown-menu .autocomplete-header {
    margin-left: 0; } }

/*# sourceMappingURL=algolia-autocomplete.css.map */
